<%
function dateToString(date) {
	return date.toISOString().substring(0, 'yyyy-mm-dd'.length);
}

function dateBackMonths(date, months) {
	let t = new Date(date);
	t.setMonth(t.getMonth() - months);
	return t;
}
%>
<form action="<%= game ? `/admin/edit/${game.id}` : '/skra' %>" method="post">
	<legend><%= game ? 'Breyta leik' : 'Skrá leik' %></legend>
	<label for="date">Dagsetning:
		<input name="date"
			   type="date"
			   value="<%= dateToString(game?.date ?? time) %>"
			   min="<%= dateToString(dateBackMonths(time, 2)) %>"
			   max="<%= dateToString(time) %>"
			   required />
	</label>

	<fieldset>
		<legend>Heima</legend>
		<label for="home">Lið:
			<select id="home" name="home">
				<% for (const team of teams) { %>
					<option value="<%= team.id  %>"
						<%= team.id === game?.home?.id ? 'selected' : ''%> >
						<%= team.name %>
					</option>
				<% } %>
			</select>
		</label>
		<label for="home_score">Stig:
			<input name="home_score"
				   type="number"
				   value="<%= game?.home?.score ?? 0%>"
				   min="0"
				   required />
		</label>
	</fieldset>
	<fieldset>
		<legend>Gestir</legend>
		<label for="away">Lið:
			<select id="away" name="away">
				<% for (const team of locals.teams) { %>
					<option value="<%= team.id  %>"
						<%= team.id === game?.away?.id ? 'selected' : ''%>>
						<%= team.name %>
					</option>
				<% } %>
			</select>
		</label>
		<label for="away_score">Stig:
			<input name="away_score"
				   type="number"
				   value="<%= game?.away?.score ?? 0%>"
				   min="0"
				   required/>
		</label>
	</fieldset>
	<input name="submit" type="submit" value="Skrá"/>
</form>
