<table>
	<thead>
		<tr>
			<th>Dagsetning</th>
			<th>Heima lið</th>
			<th>Skor</th>
			<th>Útilið</th>
			<th>Skor</th>
			<% if (admin) { %>
				<th>Aðgerðir</th>
			<% } %>
		</tr>
	</thead>
	<tbody>
		<% for (const game of games) { %>
			<tr>
				<td class="right"><time datetime="<%=game.date.toISOString()%>"><%= game.date.toDateString() %></time></td>
				<td><%= game.home.name %></td>
				<td class="centre"><%= game.home.score %></td>
				<td><%= game.away.name %></td>
				<td class="centre"><%= game.away.score %></td>
				<% if (admin) { %>
					<td>
						<menu>
							<li><a class="action" href="<%= `/admin/edit/${game.id}` %>">Breyta</a></li>
							<li><a class="danger action" href="/delete/<%= game.id %>">Eyða</a></li>
						</menu>
					</td>
				<% } %>
			</tr>
		<% } %>
	</tbody>
</table>
